@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Inter:wght@400;500;600;700;800;900&family=Work+Sans:wght@300;400;600;700&display=swap');

:root {
    --accent-color: #FF5722;
    --accent-border-color: #FF8A50;
    --dark-font-color: #333333;
    --light-font-color: #F5F5F5;
    --placeholder-font-color: #C2C2C2;
    --button-primary-bkg-color: #03A9F4;
    --primary-font-style: 'Inter', sans-serif;
  }

  body {
      font-family: var(--primary-font-style);
      color: var(--dark-font-color);
  }

  .primary-button {
      background-color: var(--button-primary-bkg-color);
      color: var(--light-font-color);
font-weight: 500;
padding: 12px 32px;
border-radius: 5px;
border: none;
  }

  .secondary-button {

  }
  