@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Inter:wght@400;500;600;700;800;900&family=Work+Sans:wght@300;400;600;700&display=swap");

:root {
  --accent-color: #ff5722;
  --accent-border-color: #ff8a50;
  --dark-font-color: #333333;
  --light-font-color: #f5f5f5;
  --placeholder-font-color: #c2c2c2;
  --button-blue: #03a9f4;
  --primary-font-style: "Inter", sans-serif;
}

body {
  margin: 0 0 40px 0;
  font-family: var(--primary-font-style);
  color: var(--dark-font-color);
  background: #F5F5F5;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a {
    text-decoration: none;
}

.primary-button {
  font-size: 20px;
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background-color: var(--button-blue);
  color: var(--light-font-color);
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
  flex-shrink: 0; 
}
.primary-button:hover {
  background-color: #039be5;
  cursor: pointer;
}
.primary-button:active {
  transform: scale(0.925);
}

.primary-button p {
  margin: 0;
}

.secondary-button {
  font-size: 20px;
display: flex;
padding: 12px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
border: 2px solid var(--button-blue);
background: #F5F5F5;
color: var(--button-blue);
letter-spacing: -1.5px;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  background-color: var(--accent-color);
  padding: 12px;
}

header div {
  display: flex;
  gap: 12px;
}

header a {
    color: var(--light-font-color);
}

h1 {
  font-size: 20px;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  border-bottom: var(--accent-border-color) 1px solid;
  line-height: 150%; /* 54px */
}

.destinations-container {
  width: 60%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.card-info {
  margin-left: 0;
  margin-right: auto;
  padding: 0 0.75rem;
}

.destination-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    padding: 40px 0;
    border-bottom: var(--accent-border-color) 1px solid;
    transition: all 0.3s ease-in-out;
}
@media only screen and (min-width:604px) {
  .destination-card {
    justify-content: flex-start;
  }
}

.destination_img {
  height: auto;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.google-maps {
  color: #918E9B;
  text-decoration: underline;
}

.location_information div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.location {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.country {
  text-transform: uppercase;
  letter-spacing: 1.741px;
}

.stay-dates {
  font-weight: 700;
}

.location {
  font-size: 25px;
font-weight: 700;
}

.description {
  line-height: 150%;
}

input, textarea {
  border-radius: 5px;
border-top: 1px solid #FF8A50;
border-left: 1px solid #FF8A50;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 10px;
}

.input-flex {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.required {
  color: var(--accent-color);
}

.notification {
  font-size: 18px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 20px;
  background-color: var(--accent-color);
  color: var(--light-font-color);
  font-weight: 500;
  border: none;
  letter-spacing: -1.5px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 3.2px 3.2px 4px;
}
.notification img {
  position: relative;
  top: -15px;
}

.fade-out {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

#notification p {
  margin:0;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

input[id="email"],
input[id="password"] {
    padding: 12px;
    margin-bottom: 10px;
}

form#login, form#signup {
    display: flex;
    flex-direction: column;
}

form#login label, form#signup label {
  margin-bottom: 12px;
}

form#login input, form#signup input {
  min-width: 200px;
}

#sign-up-btn, #log-in-btn {
  margin-top: 24px;
}

#signup-link {
  color: var(--button-blue);
  font-weight: 500;
}

#login-info {
  color: var(--light-font-color);
}

#delete-button {
  background-color: red;
}

.logged-in-user {
  padding: 0rem 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
